[Desktop Entry]
Version=1.1
Type=Application
Name=Navegador de servidores VNC do Avahi
NoDisplay=true
Comment=Procure por servidores VNC com Zeroconf habilitado
Icon=network-wired
Exec=/usr/bin/bvnc
Actions=
Categories=GNOME;Network;
